/* Base: contained within this file are all your resets, variables, mixins, and any utility classes. */
/* reset */
* {
  margin: 0;
  padding: 0; }

/* variables */
/** Primary **/
/** Neutral **/
/** Gradient **/
/* Background gradient - Intro/CTA mobile nav: */
/* Background gradient - body: */
/** Screen size **/
/* fonts */
/** Overpass **/
@font-face {
  font-family: Overpass-Light;
  src: url(../fonts/Overpass/Overpass-Light.ttf);
  font-weight: 300; }

@font-face {
  font-family: Overpass-SemiBold;
  src: url(../fonts/Overpass/Overpass-SemiBold.ttf);
  font-weight: 600; }

/** Ubuntu **/
@font-face {
  font-family: Ubuntu-Regular;
  src: url(../fonts/Ubuntu/Ubuntu-Regular.ttf);
  font-weight: 400; }

@font-face {
  font-family: Ubuntu-Medium;
  src: url(../fonts/Ubuntu/Ubuntu-Medium.ttf);
  font-weight: 500; }

@font-face {
  font-family: Ubuntu-Bold;
  src: url(../fonts/Ubuntu/Ubuntu-Bold.ttf);
  font-weight: 700; }

/* base */
body {
  font-size: 16px;
  font-family: Overpass-Light;
  color: #1f3f5b; }

.h1 {
  font-family: Overpass-SemiBold;
  font-size: 42px;
  color: white; }

.h2 {
  font-family: Overpass-SemiBold;
  font-size: 32px;
  color: #1f3f5b; }

.h3 {
  font-family: Overpass-SemiBold;
  font-size: 18px;
  color: #1f3f5b; }

.text {
  font-size: 16px;
  font-family: Overpass-Light;
  letter-spacing: 0.2px;
  line-height: 28px; }

.block__dark .block__header {
  color: white; }

.block__dark .text {
  color: white; }

@media only screen and (max-width: 600px) {
  .h1 {
    font-size: 40px; }
  .h2 {
    font-size: 30px; }
  .h3 {
    font-size: 28px; } }

/* mixins */
/* frontendmentor */
.attribution {
  font-size: 11px;
  text-align: center; }

.attribution a {
  color: #3e52a3; }

/* Layout: contains all the CSS that handles the layout, such as the container and any grid systems.*/
body {
  max-width: 1440px;
  margin: auto;
  background-color: white; }

/* HEADER */
.header {
  border-bottom-left-radius: 60px;
  background-image: url(../images/bg-pattern-intro.svg), linear-gradient(#ff8f70, #ff3d54);
  background-position-x: -500px;
  background-position-y: center;
  height: 650px;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .header__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 960px;
    margin: 70px 30px; }

/* NAV */
.nav__logo {
  cursor: pointer; }

@media only screen and (max-width: 600px) {
  .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%; }
  #menuBurger {
    display: block; }
  #menuClose {
    display: none; }
  .navbar__menuGroup--active {
    background-color: white;
    position: absolute;
    top: 150px;
    left: 30px;
    right: 30px;
    text-align: center; } }

/* HEROBANNER */
.heroBanner {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px; }
  .heroBanner__title {
    margin: 0px 20px;
    text-align: center; }
  .heroBanner__about {
    margin: 10px 25px 50px 25px;
    font-size: 24px;
    text-align: center; }
  .heroBanner__buttons {
    display: flex;
    flex-direction: row;
    gap: 15px; }

/* HEADER NAV */
.header__nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%; }
  .header__nav .nav__left {
    display: flex;
    flex-direction: row; }
    .header__nav .nav__left .left__menu {
      display: flex;
      flex-direction: row;
      display: none; }
  .header__nav .nav__right {
    display: flex;
    flex-direction: row;
    display: none; }

/* MAIN */
.main {
  margin-top: 100px; }

@media only screen and (max-width: 600px) {
  img {
    max-width: 100%; }
  .block {
    grid-template-rows: auto; } }

/* BLOCK */
.block {
  padding: 30px;
  text-align: center;
  display: grid;
  gap: 50px; }

.block__dark {
  border-top-right-radius: 130px;
  border-bottom-left-radius: 130px; }

.block__header {
  grid-row: 1; }

.block--mobile-top {
  grid-row: 2; }

.block--mobile-bottom {
  grid-row: 3; }

.block__paragraph {
  padding: 0 55px; }

.block__text {
  margin-top: 20px;
  margin-bottom: 50px; }

/* EDITOR BLOCK */
/* PHONE BLOCK */
#phone {
  background-image: url("/images/bg-pattern-circles.svg"), linear-gradient(#2c2d3f, #3f4164);
  background-repeat: no-repeat;
  background-size: 130%;
  background-position-x: center;
  background-position-y: -250px, 0;
  margin-top: 200px;
  height: 600px; }
  #phone .block__paragraph {
    position: relative;
    top: -250px; }
  #phone .block__text {
    margin: 0; }
  #phone .img--mobile {
    position: relative;
    top: -250px; }

@media only screen and (max-width: 600px) {
  #phone .block__header {
    margin-bottom: 30px; } }

/* LAPTOP */
#laptop {
  margin-top: 50px; }

/* FOOTER */
.footer {
  background-color: #25252d;
  color: #c8c8cb;
  border-top-right-radius: 130px;
  text-align: center; }
  .footer__logo {
    margin-bottom: 20px; }
  .footer__title {
    margin-bottom: 30px; }
  .footer__item {
    margin-bottom: 10px; }

@media only screen and (min-width: 600px) {
  .footer {
    display: flex;
    justify-content: center; }
    .footer__content {
      display: grid;
      gap: 50px;
      grid-template-columns: repeat(4, auto);
      width: 100%;
      padding: 100px 30px; } }

@media only screen and (max-width: 600px) {
  .footer__content {
    padding: 100px;
    display: grid;
    gap: 50px;
    grid-template-rows: auto; } }

/* Components: anything reusable such as buttons, navbars, cards etc.*/
/* HEADER */
.heroBanner {
  color: white; }

/* BUTTON */
.btn {
  background-color: black;
  color: white;
  border-radius: 30px;
  width: 150px;
  height: 50px;
  display: grid;
  justify-content: center;
  align-content: center;
  font-family: Ubuntu-Bold; }
  .btn:hover {
    background-color: white;
    color: black;
    cursor: pointer; }

.btn-primary {
  background-color: white;
  color: #ff525d; }
  .btn-primary:hover {
    background-color: #ff525d;
    color: white; }

.btn-secondary {
  background-color: transparent;
  color: white;
  border: 1px solid white; }
  .btn-secondary:hover {
    background-color: white;
    color: #ff525d; }

/* NAV */
.navbar__menuGroup {
  padding: 30px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2); }

.navbar__menu {
  margin-bottom: 30px; }

.item__arrow {
  background-image: url("../images/icon-arrow-dark.svg"); }

.menu__item .item__name {
  margin: 30px;
  font-family: Overpass-SemiBold;
  font-size: 20px;
  color: #1f3f5b; }

.menu__item .item__dropdown {
  background-color: #c8c8cb;
  padding: 15px 0;
  font-family: Overpass-SemiBold;
  color: #1f3f5b; }
  .menu__item .item__dropdown .dropdown__item {
    margin: 15px; }

.navbar__sign {
  border-top: solid 1px lightgray;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .navbar__sign .item__login {
    font-family: Overpass-SemiBold;
    font-size: 20px;
    color: #1f3f5b;
    margin: 30px;
    cursor: pointer; }
  .navbar__sign .item__signup {
    background-image: linear-gradient(#ff8f70, #ff3d54);
    height: 50px;
    font-size: 18px;
    cursor: pointer; }

/* IMG */
.img--desktop {
  display: none; }

/* FOOTER */
.footer {
  font-family: Ubuntu-Regular; }
  .footer__title {
    font-family: Ubuntu-Medium;
    color: white; }
  .footer__item {
    cursor: pointer; }
