/* Base: contained within this file are all your resets, variables, mixins, and any utility classes. */
/* reset */
* {
  margin: 0;
  padding: 0; }

/* variables */
/** Primary **/
/** Neutral **/
/** Gradient **/
/* Background gradient - Intro/CTA mobile nav: */
/* Background gradient - body: */
/** Screen size **/
/* fonts */
/** Overpass **/
@font-face {
  font-family: Overpass-Light;
  src: url(../fonts/Overpass/Overpass-Light.ttf);
  font-weight: 300; }

@font-face {
  font-family: Overpass-SemiBold;
  src: url(../fonts/Overpass/Overpass-SemiBold.ttf);
  font-weight: 600; }

/** Ubuntu **/
@font-face {
  font-family: Ubuntu-Regular;
  src: url(../fonts/Ubuntu/Ubuntu-Regular.ttf);
  font-weight: 400; }

@font-face {
  font-family: Ubuntu-Medium;
  src: url(../fonts/Ubuntu/Ubuntu-Medium.ttf);
  font-weight: 500; }

@font-face {
  font-family: Ubuntu-Bold;
  src: url(../fonts/Ubuntu/Ubuntu-Bold.ttf);
  font-weight: 700; }

/* base */
body {
  font-size: 16px;
  font-family: Overpass-Light;
  color: #1f3f5b; }

.h1 {
  font-family: Overpass-SemiBold;
  font-size: 42px;
  color: white; }

.h2 {
  font-family: Overpass-SemiBold;
  font-size: 32px;
  color: #1f3f5b; }

.h3 {
  font-family: Overpass-SemiBold;
  font-size: 18px;
  color: #1f3f5b; }

.text {
  font-size: 16px;
  font-family: Overpass-Light;
  letter-spacing: 0.2px;
  line-height: 28px; }

.block__dark .block__header {
  color: white; }

.block__dark .text {
  color: white; }

@media only screen and (max-width: 600px) {
  .h1 {
    font-size: 40px; }
  .h2 {
    font-size: 30px; }
  .h3 {
    font-size: 28px; } }

@media only screen and (min-width: 600px) {
  .h1 {
    font-size: 52px; }
  .h2 {
    font-size: 34pxx; }
  .h3 {
    font-size: 28px; } }

/* mixins */
.active {
  display: block; }

.notActive {
  display: none; }

/* frontendmentor */
.attribution {
  font-size: 11px;
  text-align: center; }

.attribution a {
  color: #3e52a3; }

/* Layout: contains all the CSS that handles the layout, such as the container and any grid systems.*/
body {
  max-width: 1440px;
  margin: auto;
  background-color: white; }

/* HEADER */
.header {
  border-bottom-left-radius: 60px;
  background-image: url(../images/bg-pattern-intro.svg), linear-gradient(90deg, #ff8f70, #ff3d54);
  background-position-x: -500px, 0;
  background-position-y: center, 0;
  height: 650px;
  display: flex;
  flex-direction: column;
  align-items: center; }

@media only screen and (max-width: 600px) {
  .header__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 960px;
    margin: 70px 30px; } }

@media only screen and (min-width: 600px) {
  .header__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1440px;
    width: 90%;
    margin: 70px 30px; } }

/* NAV */
.nav__logo {
  cursor: pointer; }

@media only screen and (min-width: 600px) {
  #nav__desktop {
    display: block; }
    #nav__desktop .nav {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%; }
    #nav__desktop .navbar__menu {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      gap: 50px; }
      #nav__desktop .navbar__menu .menu__item .item__name {
        display: flex;
        flex-direction: row;
        align-items: center; }
      #nav__desktop .navbar__menu .menu__item .item__dropdown {
        display: none; }
    #nav__desktop .navbar__sign {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      gap: 30px; }
  #nav__mobile {
    display: none; } }

@media only screen and (max-width: 600px) {
  #nav__desktop {
    display: none; }
  #nav__mobile {
    display: block; }
    #nav__mobile .nav {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%; }
    #nav__mobile .nav__header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      min-width: 400px; }
    #nav__mobile #menuBurger {
      display: block; }
    #nav__mobile #menuClose {
      display: none; }
    #nav__mobile .navbar__menuGroup {
      display: none; }
    #nav__mobile .navbar__menuGroup--active {
      display: block;
      background-color: white;
      position: absolute;
      top: 150px;
      left: 30px;
      right: 30px;
      text-align: center; } }

/* HEROBANNER */
.heroBanner {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px; }
  .heroBanner__title {
    margin: 0px 20px;
    text-align: center; }
  .heroBanner__about {
    margin: 10px 25px 50px 25px;
    font-size: 24px;
    text-align: center; }
  .heroBanner__buttons {
    display: flex;
    flex-direction: row;
    gap: 15px; }

/* MAIN */
@media only screen and (max-width: 600px) {
  img {
    max-width: 100%; }
  .block {
    grid-template-rows: auto; } }

/* BLOCK */
.block {
  padding: 30px;
  text-align: center;
  display: grid;
  gap: 50px; }

.block__dark {
  border-top-right-radius: 130px;
  border-bottom-left-radius: 130px; }

.block__header {
  grid-row: 1; }

.block--mobile-top {
  grid-row: 2; }

.block--mobile-bottom {
  grid-row: 3; }

.block__paragraph {
  padding: 0 24px; }

.block__text {
  margin-top: 20px;
  margin-bottom: 50px; }

@media only screen and (max-width: 600px) {
  .img--desktop {
    display: none; } }

@media only screen and (min-width: 600px) {
  .img--mobile {
    display: none; }
  .img--desktop {
    width: 100%; } }

/* EDITOR BLOCK */
@media only screen and (min-width: 600px) {
  #editor {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto; }
    #editor .block__header {
      grid-column: 1 / 3;
      grid-row: 1;
      top: 180px;
      position: relative; }
    #editor .block--desktop-left {
      grid-column: 1;
      grid-row: 2;
      margin: auto; }
      #editor .block--desktop-left .block__paragraph {
        text-align: left; }
    #editor .block--desktop-right {
      grid-column: 2;
      grid-row: 2;
      margin: auto; }
      #editor .block--desktop-right .img--desktop {
        width: 170%;
        position: relative; }
      #editor .block--desktop-right .block__paragraph {
        text-align: left; } }

/* PHONE BLOCK */
@media only screen and (max-width: 600px) {
  #phone {
    background-image: url("/images/bg-pattern-circles.svg"), linear-gradient(#2c2d3f, #3f4164);
    background-repeat: no-repeat;
    background-size: 130%;
    background-position-x: center;
    background-position-y: -250px, 0;
    margin-top: 200px;
    height: 600px; }
    #phone .block__header {
      margin-bottom: 30px; }
    #phone .block__paragraph {
      position: relative;
      top: -250px; }
    #phone .block__text {
      margin: 0; }
    #phone .img--mobile {
      position: relative;
      top: -250px; } }

@media only screen and (min-width: 600px) {
  #phone {
    background-image: url("/images/bg-pattern-circles.svg"), linear-gradient(#2c2d3f, #3f4164);
    background-repeat: no-repeat;
    background-position-x: -200px, center;
    background-position-y: -500px, 0;
    height: 350px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 350px; }
    #phone .block--desktop-left {
      grid-column: 1;
      grid-row: 1;
      margin: auto; }
      #phone .block--desktop-left .img--desktop {
        position: relative;
        top: -100px; }
    #phone .block--desktop-right {
      grid-column: 2;
      grid-row: 1;
      margin: auto; }
      #phone .block--desktop-right .block__paragraph {
        text-align: left; } }

/* LAPTOP */
@media only screen and (max-width: 600px) {
  #laptop {
    margin-top: 50px; } }

@media only screen and (min-width: 600px) {
  #laptop {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr); }
    #laptop .block--desktop-left {
      grid-column: 1;
      grid-row: 1; }
      #laptop .block--desktop-left .img--desktop {
        width: 170%;
        position: relative;
        left: -350px; }
    #laptop .block--desktop-right {
      grid-column: 2;
      grid-row: 1;
      margin: auto; }
      #laptop .block--desktop-right .block__paragraph {
        text-align: left; } }

/* FOOTER */
.footer {
  background-color: #25252d;
  color: #c8c8cb;
  border-top-right-radius: 130px; }
  .footer__title {
    margin-bottom: 30px; }
  .footer__item {
    margin-bottom: 10px; }

@media only screen and (min-width: 600px) {
  .footer {
    display: flex;
    justify-content: center;
    text-align: left; }
    .footer__content {
      display: grid;
      gap: 50px;
      grid-template-columns: repeat(4, auto);
      width: 100%;
      padding: 100px 200px; } }

@media only screen and (max-width: 600px) {
  .footer {
    text-align: center; }
    .footer__content {
      padding: 100px;
      display: grid;
      gap: 50px;
      grid-template-rows: auto; }
    .footer__logo {
      margin-bottom: 20px; } }

/* Components: anything reusable such as buttons, navbars, cards etc.*/
/* HEADER */
.heroBanner {
  color: white; }

/* BUTTON */
.btn {
  background-color: black;
  color: white;
  border-radius: 30px;
  width: 150px;
  height: 50px;
  display: grid;
  justify-content: center;
  align-content: center;
  font-family: Ubuntu-Bold; }
  .btn:hover {
    background-color: white;
    color: black;
    cursor: pointer; }

.btn-primary {
  background-color: white;
  color: #ff525d; }
  .btn-primary:hover {
    background-color: #ff525d;
    color: white; }

.btn-secondary {
  background-color: transparent;
  color: white;
  border: 1px solid white; }
  .btn-secondary:hover {
    background-color: white;
    color: #ff525d; }

/* NAV */
@media only screen and (min-width: 600px) {
  .arrowLight, .navbar__menuGroup .navbar__menu .menu__item .item__name .item__arrowUp, .navbar__menuGroup .navbar__menu .menu__item .item__name .item__arrowDown {
    background-image: url("../images/icon-arrow-light.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 20px;
    height: 20px; }
  .nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%; }
    .nav .nav__navbar {
      width: 100%; }
  .navbar__menuGroup {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; }
    .navbar__menuGroup .navbar__menu {
      display: flex;
      flex-direction: row; }
      .navbar__menuGroup .navbar__menu .menu__item .item__name {
        height: 40px; }
        .navbar__menuGroup .navbar__menu .menu__item .item__name .item__title {
          font-family: Ubuntu-Bold;
          color: white;
          cursor: pointer; }
          .navbar__menuGroup .navbar__menu .menu__item .item__name .item__title:hover {
            text-decoration: white underline 2px; }
        .navbar__menuGroup .navbar__menu .menu__item .item__name .item__arrowDown {
          transform: rotate(180deg); }
      .navbar__menuGroup .navbar__menu .menu__item .item__dropdown--active {
        display: block !important;
        position: absolute;
        width: 150px;
        height: 120px;
        background-color: white;
        border-radius: 5px; }
        .navbar__menuGroup .navbar__menu .menu__item .item__dropdown--active .dropdown__item {
          margin: 15px 20px;
          width: max-content;
          font-family: Ubuntu-Regular;
          cursor: pointer;
          color: #2c2d3f; }
        .navbar__menuGroup .navbar__menu .menu__item .item__dropdown--active .dropdown__item--active {
          font-family: Ubuntu-Bold; }
    .navbar__menuGroup .navbar__sign {
      display: flex;
      flex-direction: row; }
      .navbar__menuGroup .navbar__sign .item__login {
        cursor: pointer;
        font-family: Ubuntu-Bold;
        color: white; } }

@media only screen and (max-width: 600px) {
  .arrowDark, .navbar__menuGroup .navbar__menu .menu__item .item__name .item__arrowUp, .navbar__menuGroup .navbar__menu .menu__item .item__name .item__arrowDown {
    background-image: url("../images/icon-arrow-dark.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 20px;
    height: 20px; }
  .navbar__menuGroup {
    padding: 30px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2); }
    .navbar__menuGroup .navbar__menu {
      margin-bottom: 30px; }
      .navbar__menuGroup .navbar__menu .menu__item .item__name {
        margin: 30px;
        font-family: Overpass-SemiBold;
        font-size: 20px;
        color: #1f3f5b;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px; }
        .navbar__menuGroup .navbar__menu .menu__item .item__name .item__title {
          cursor: pointer; }
        .navbar__menuGroup .navbar__menu .menu__item .item__name .item__arrowDown {
          transform: rotate(180deg); }
      .navbar__menuGroup .navbar__menu .menu__item .item__dropdown {
        display: none;
        background-color: #c8c8cb;
        padding: 15px 0;
        font-family: Overpass-SemiBold;
        color: #1f3f5b;
        opacity: 0.7; }
        .navbar__menuGroup .navbar__menu .menu__item .item__dropdown .dropdown__item {
          margin: 15px;
          cursor: pointer; }
      .navbar__menuGroup .navbar__menu .menu__item .item__dropdown--active {
        display: block; }
    .navbar__menuGroup .navbar__sign {
      border-top: solid 1px lightgray;
      display: flex;
      flex-direction: column;
      align-items: center; }
      .navbar__menuGroup .navbar__sign .item__login {
        font-family: Overpass-SemiBold;
        font-size: 20px;
        color: #1f3f5b;
        margin: 30px;
        cursor: pointer; }
      .navbar__menuGroup .navbar__sign .item__signup {
        background-image: linear-gradient(#ff8f70, #ff3d54);
        height: 50px;
        font-size: 18px;
        cursor: pointer; }
      .navbar__menuGroup .navbar__sign .item__signup:hover {
        color: white; } }

/* FOOTER */
.footer {
  font-family: Ubuntu-Regular; }
  .footer__title {
    font-family: Ubuntu-Medium;
    color: white; }
  .footer__item {
    cursor: pointer; }
    .footer__item:hover {
      text-decoration: white underline; }

/* OTHER */
.side-crop {
  width: 100%;
  /*container-width*/
  overflow: hidden;
  /*hide bounds of image */
  margin: 0;
  /*reset margin of figure tag*/ }

@media only screen and (max-width: 600px) {
  .side-crop .img--mobile img {
    display: block;
    /*remove inline-block spaces*/ } }

@media only screen and (min-width: 600px) {
  .side-crop .img--desktop img {
    display: block;
    /*remove inline-block spaces*/ } }
