/* Base: contained within this file are all your resets, variables, mixins, and any utility classes. */
/* reset */
* {
  margin: 0;
  padding: 0; }

/* variables */
/** Primary **/
/** Neutral **/
/** Gradient **/
/* Background gradient - Intro/CTA mobile nav: */
/* Background gradient - body: */
/* fonts */
/** Overpass **/
@font-face {
  font-family: Overpass-Light;
  src: url(../fonts/Overpass/Overpass-Light.ttf);
  font-weight: 300; }

@font-face {
  font-family: Overpass-SemiBold;
  src: url(../fonts/Overpass/Overpass-SemiBold.ttf);
  font-weight: 600; }

/** Ubuntu **/
@font-face {
  font-family: Ubuntu-Regular;
  src: url(../fonts/Ubuntu/Ubuntu-Regular.ttf);
  font-weight: 400; }

@font-face {
  font-family: Ubuntu-Medium;
  src: url(../fonts/Ubuntu/Ubuntu-Medium.ttf);
  font-weight: 500; }

@font-face {
  font-family: Ubuntu-Bold;
  src: url(../fonts/Ubuntu/Ubuntu-Bold.ttf);
  font-weight: 700; }

/* base */
body {
  font-size: 16px;
  font-family: Overpass-Light; }

.h1 {
  font-family: Overpass-SemiBold;
  font-size: 42px;
  color: white; }

.h2 {
  font-family: Overpass-SemiBold;
  font-size: 32px;
  color: #1f3f5b; }

.h3 {
  font-family: Overpass-SemiBold;
  font-size: 18px;
  color: #1f3f5b; }

.text {
  font-size: 16px;
  font-family: Overpass-Light; }

/* mixins */
/* frontendmentor */
.attribution {
  font-size: 11px;
  text-align: center; }

.attribution a {
  color: #3e52a3; }

/* Layout: contains all the CSS that handles the layout, such as the container and any grid systems.*/
body {
  max-width: 1440px;
  margin: auto;
  background-color: white; }

/* HEADER */
.header {
  border-bottom-left-radius: 60px;
  background-image: url(../images/bg-pattern-intro.svg), linear-gradient(#ff8f70, #ff3d54);
  background-position-x: -500px;
  background-position-y: center;
  height: 650px;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .header__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 960px;
    margin: 70px 30px; }

/* HEROBANNER */
.heroBanner {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  color: white; }
  .heroBanner__title {
    margin: 0px 20px;
    text-align: center; }
  .heroBanner__about {
    margin: 10px 25px 50px 25px;
    font-size: 24px;
    text-align: center; }
  .heroBanner__buttons {
    display: flex;
    flex-direction: row;
    gap: 15px; }

/* HEADER NAV */
.header__nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%; }
  .header__nav .nav__left {
    display: flex;
    flex-direction: row; }
    .header__nav .nav__left .left__menu {
      display: flex;
      flex-direction: row;
      display: none; }
  .header__nav .nav__right {
    display: flex;
    flex-direction: row;
    display: none; }

/* MAIN */
.main {
  margin-top: 150px; }

/* BLOCK */
.block__dark {
  background-image: linear-gradient(#2c2d3f, #3f4164);
  border-top-right-radius: 130px;
  border-bottom-left-radius: 130px; }

.block {
  padding: 30px;
  text-align: center;
  display: grid;
  grid-template-rows: auto; }

.block__header {
  grid-row: 1; }

.block--mobile-top {
  grid-row: 2; }

.block--mobile-bottom {
  grid-row: 3; }

.block__text {
  margin-top: 20px;
  margin-bottom: 50px; }

/* FOOTER */
.footer {
  background-color: #25252d;
  color: #c8c8cb; }

/* Components: anything reusable such as buttons, navbars, cards etc.*/
/* BUTTON */
.btn {
  background-color: black;
  color: white;
  border-radius: 30px;
  width: 150px;
  height: 50px;
  display: grid;
  justify-content: center;
  align-content: center;
  font-family: Ubuntu-Bold; }
  .btn:hover {
    background-color: white;
    color: black;
    cursor: pointer; }

.btn-primary {
  background-color: white;
  color: #ff525d; }
  .btn-primary:hover {
    background-color: #ff525d;
    color: white; }

.btn-secondary {
  background-color: transparent;
  color: white;
  border: 1px solid white; }
  .btn-secondary:hover {
    background-color: white;
    color: #ff525d; }

/* NAV */
.item__dropdown {
  display: none; }

/* IMG */
.img--desktop {
  display: none; }
