/* Components: anything reusable such as buttons, navbars, cards etc.*/
/* HEADER */
.heroBanner {
  color: white;
}
/* BUTTON */
.btn {
  background-color: black;
  color: white;
  border-radius: 30px;
  width: 150px;
  height: 50px;
  display: grid;
  justify-content: center;
  align-content: center;
  font-family: Ubuntu-Bold;
  &:hover {
    background-color: white;
    color: black;
    cursor: pointer;
  }
}
.btn-primary {
  background-color: $color-white;
  color: $color-light-red;
  &:hover {
    background-color: $color-light-red;
    color: $color-white;
  }
}
.btn-secondary {
  background-color: transparent;
  color: $color-white;
  border: 1px solid $color-white;
  &:hover {
    background-color: $color-white;
    color: $color-light-red;
  }
}

/* NAV */
.navbar__menuGroup {
  padding: 30px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  .navbar__menu {
    margin-bottom: 30px;
    .menu__item {
      .item__name {
        margin: 30px;
        font-family: Overpass-SemiBold;
        font-size: 20px;
        color: $color-very-dark-blue;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        .item__arrowUp {
          background-image: url("../images/icon-arrow-dark.svg");
          background-repeat: no-repeat;
          background-position: center;
          width: 20px;
          height: 20px;
        }
        .item__arrowDown {
          @extend .item__arrowUp;
          transform: rotate(180deg);
        }
      }
      .item__dropdown {
        //display: none;
        background-color: $color-grayish-blue;
        padding: 15px 0;
        font-family: Overpass-SemiBold;
        color: $color-very-dark-blue;
        opacity: 0.7;
        .dropdown__item {
          margin: 15px;
        }
      }
    }
  }
  .navbar__sign {
    .item__signup:hover {
      color: $color-white;
    }
  }
}
.navbar__sign {
  border-top: solid 1px lightgray;
  display: flex;
  flex-direction: column;
  align-items: center;
  .item__login {
    font-family: Overpass-SemiBold;
    font-size: 20px;
    color: $color-very-dark-blue;
    margin: 30px;
    cursor: pointer;
  }
  .item__signup {
    background-image: linear-gradient(
      $color-gradient-very-light-red,
      $color-gradient-light-red
    );
    height: 50px;
    font-size: 18px;
    cursor: pointer;
  }
  .item__signup {
  }
}

/* IMG */
.img--desktop {
  display: none;
}

/* FOOTER */
.footer {
  font-family: Ubuntu-Regular;
  &__title {
    font-family: Ubuntu-Medium;
    color: $color-white;
  }
  &__item {
    cursor: pointer;
  }
}
