/* Components: anything reusable such as buttons, navbars, cards etc.*/

body {
  max-width: 1440px;
  margin: auto;
}

/* HEADER */
.header {
  background-image: linear-gradient(hsl(13, 100%, 72%), hsl(353, 100%, 62%));
}
