/* Layout: contains all the CSS that handles the layout, such as the container and any grid systems.*/
body {
  max-width: 1440px;
  margin: auto;
  background-color: $color-white;
}
/* HEADER */
.header {
  border-bottom-left-radius: 60px;
  background-image: url(../images/bg-pattern-intro.svg),
    linear-gradient($color-gradient-very-light-red, $color-gradient-light-red);
  background-position-x: -500px;
  background-position-y: center;
  height: 650px;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 960px;
    margin: 70px 30px;
  }
}
/* NAV */
.nav__logo {
  cursor: pointer;
}
@media only screen and (min-width: $screensize-mobile) {
  // desktop screen
}
@media only screen and (max-width: $screensize-mobile) {
  // mobile screen
  .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  #menuBurger {
    display: block;
  }
  #menuClose {
    display: none;
  }
  .navbar__menuGroup {
    //display: none;
  }
  .navbar__menuGroup--active {
    background-color: $color-white;
    position: absolute;
    top: 150px;
    left: 30px;
    right: 30px;
    text-align: center;
  }
}
/* HEROBANNER */
.heroBanner {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  &__title {
    margin: 0px 20px;
    text-align: center;
  }
  &__about {
    margin: 10px 25px 50px 25px;
    font-size: 24px;
    text-align: center;
  }
  &__buttons {
    display: flex;
    flex-direction: row;
    gap: 15px;
  }
}
/* HEADER NAV */
.header__nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  .nav__left {
    display: flex;
    flex-direction: row;
    .left__menu {
      display: flex;
      flex-direction: row;
      display: none;
    }
  }
  .nav__right {
    display: flex;
    flex-direction: row;
    display: none;
  }
}

/* MAIN */
.main {
  margin-top: 100px;
}

@media only screen and (max-width: $screensize-mobile) {
  img {
    max-width: 100%;
  }
  .block {
    grid-template-rows: auto;
  }
}
/* BLOCK */
.block {
  padding: 30px;
  text-align: center;
  display: grid;
  gap: 50px;
}
.block__dark {
  border-top-right-radius: 130px;
  border-bottom-left-radius: 130px;
}
.block__header {
  grid-row: 1;
}
.block--desktop-left {
}
.block--mobile-top {
  grid-row: 2;
}
.block--desktop-right {
}
.block--mobile-bottom {
  grid-row: 3;
}
.block__paragraph {
  padding: 0 55px;
}
.block__text {
  margin-top: 20px;
  margin-bottom: 50px;
}
/* EDITOR BLOCK */
#editor {
}

/* PHONE BLOCK */
#phone {
  background-image: url("/images/bg-pattern-circles.svg"),
    linear-gradient(
      $color-gradient-very-dark-gray-blue,
      $color-gradient-very-dark-desaturated-blue
    );
  background-repeat: no-repeat;
  background-size: 130%;
  background-position-x: center;
  background-position-y: -250px, 0;
  margin-top: 200px;
  height: 600px;
  .block__paragraph {
    position: relative;
    top: -250px;
  }
  .block__text {
    margin: 0;
  }
  .img--mobile {
    position: relative;
    top: -250px;
  }
}
@media only screen and (max-width: $screensize-mobile) {
  // mobile screen
  #phone .block__header {
    margin-bottom: 30px;
  }
}

/* LAPTOP */
#laptop {
  margin-top: 50px;
}
/* FOOTER */
.footer {
  background-color: $color-very-dark-black-blue;
  color: $color-grayish-blue;
  border-top-right-radius: 130px;
  text-align: center;
  &__logo {
    margin-bottom: 20px;
  }
  &__col {
  }
  &__title {
    margin-bottom: 30px;
  }
  &__item {
    margin-bottom: 10px;
  }
}

@media only screen and (min-width: $screensize-mobile) {
  // desktop screen
  .footer {
    display: flex;
    justify-content: center;
    &__content {
      display: grid;
      gap: 50px;
      grid-template-columns: repeat(4, auto);
      width: 100%;
      padding: 100px 30px;
    }
  }
}
@media only screen and (max-width: $screensize-mobile) {
  // mobile screen
  .footer {
    &__content {
      padding: 100px;
      display: grid;
      gap: 50px;
      grid-template-rows: auto;
    }
  }
}
